#profile {
  background-color: white;
  width: '100%';
  height: auto;
  padding: 20px;
}

.users {
  display: flex;
  background-color: white;
  border: 1px solid #f3f3f3; /* Light grey */
  padding: 10px;
}
#loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#detailsBtn {
  margin: 10px;
}

#detailSection {
  margin: 10px;
}

#field {
  font-size: 20px;
  color: black;
  font-weight: bold;
  margin-right: 10px;
}
#value {
  color: gray;
  font-size: large;
}